@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 300;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-normal-300.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 300;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-italic-300.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-normal-400.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-italic-400.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-normal-500.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-italic-500.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 600;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-normal-600.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 600;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-italic-600.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-normal-700.woff2) format("woff2");
}
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/whitney-italic-700.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-normal-400.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: italic;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-italic-400.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: normal;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-normal-500.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: italic;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-italic-500.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: normal;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-normal-700.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Normal;
    font-style: italic;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_normal-italic-700.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-normal-400.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: italic;
    font-weight: 400;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-italic-400.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-normal-500.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: italic;
    font-weight: 500;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-italic-500.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-normal-700.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: italic;
    font-weight: 700;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-italic-700.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 800;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-normal-800.woff2) format("woff2");
}
@font-face {
    font-family: ABC Ginto Nord;
    font-style: italic;
    font-weight: 800;
    src: url(https://github.com/SpiritAxolotl/Old-Discord-Fonts/raw/main/Discord%20Old%20Fonts/Less%20Confusing%20Names/abc_ginto_nord-italic-800.woff2) format("woff2");
}
:root {
    --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:lang(ko),
  :root {
    --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
:lang(ko) {
    --font-primary: Whitney, "Apple SD Gothic Neo", NanumBarunGothic, "\B9D1\C740   \ACE0\B515", "Malgun Gothic", Gulim, êµ´ë¦¼, Dotum, ë‹ì›€, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "ABC Ginto Normal", "Apple SD Gothic Neo", NanumBarunGothic, "\B9D1\C740   \ACE0\B515", "Malgun Gothic", Gulim, êµ´ë¦¼, Dotum, ë‹ì›€, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Apple SD Gothic Neo", NanumBarunGothic, "\B9D1\C740   \ACE0\B515", "Malgun Gothic", Gulim, êµ´ë¦¼, Dotum, ë‹ì›€, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:lang(ja) {
    --font-primary: Whitney, "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "ABC Ginto Normal", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:lang(ja),
  :lang(zh-CN) {
    --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
:lang(zh-CN) {
    --font-primary: Whitney, "Microsoft YaHei New", å¾®è½¯é›…é»‘, "Microsoft Yahei", "Microsoft JhengHei", å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "ABC Ginto Normal", "Microsoft YaHei New", å¾®è½¯é›…é»‘, "Microsoft Yahei", "Microsoft JhengHei", å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Microsoft YaHei New", å¾®è½¯é›…é»‘, "Microsoft Yahei", "Microsoft JhengHei", å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:lang(zh-TW) {
    --font-primary: Whitney, "Microsoft JhengHei", å¾®è»Ÿæ­£é»‘é«”, "Microsoft JhengHei UI", "Microsoft YaHei", å¾®è»Ÿé›…é»‘, å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "ABC Ginto Normal", "Microsoft JhengHei", å¾®è»Ÿæ­£é»‘é«”, "Microsoft JhengHei UI", "Microsoft YaHei", å¾®è»Ÿé›…é»‘, å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Microsoft JhengHei", å¾®è»Ÿæ­£é»‘é«”, "Microsoft JhengHei UI", "Microsoft YaHei", å¾®è»Ÿé›…é»‘, å®‹ä½“, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  }
